<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creams.temo.mapper.ExecuteTimeInfoMapper">

    <select id="queryExecuteTime"  resultType="java.lang.Integer">
      SELECT SUM(TIMEDIFF(end_time,start_time)) FROM task_result
    </select>


    <select id="queryExecuteTaskNumNow" resultType="java.lang.Integer">
      SELECT COUNT(DISTINCT task_id) FROM task_result WHERE  `status`=1
    </select>
</mapper>