<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creams.temo.mapper.PermissionsMapper">
    <resultMap id="BaseResultMap" type="com.creams.temo.model.PermissionsDto">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="permissions_id" jdbcType="VARCHAR" property="permissionsId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="permissions_name" jdbcType="VARCHAR" property="permissionsName"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <insert id="addPermissions" parameterType="com.creams.temo.model.PermissionsDto">
        INSERT INTO permissions (role_id, permissions_id, permissions_name)
       VALUES
       (#{roleId}, #{permissionsId}, #{permissionsName})
    </insert>
    <update id="updatePermission" parameterType="com.creams.temo.model.PermissionsDto">
       UPDATE permissions SET
       role_id = #{roleId} ,
       permissions_name = #{permissionsName},
       status = #{status}
       WHERE
       permissions_id = #{permissionsId}
    </update>
    <update id="updatePermissionStatus" >
        update permissions set status = #{status} where permissions_id = #{permissions_id}
    </update>

    <select id="queryPermissionsByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from permissions where role_id = #{role_id}
    </select>
    <select id="queryPermissions"  resultMap="BaseResultMap">
      select * from permissions
    </select>
</mapper>