<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creams.temo.mapper.PermissionsMapper">
    <resultMap id="BaseResultMap" type="com.creams.temo.model.PermissionsDto">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="permissions_id" jdbcType="VARCHAR" property="permissionsId"/>
        <result column="permissions_name" jdbcType="VARCHAR" property="permissionsName"/>
        <result column="permissions_route" jdbcType="VARCHAR" property="permissionsRoute"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    </resultMap>
    <insert id="addPermissions" parameterType="com.creams.temo.model.PermissionsDto">
        INSERT INTO permissions ( permissions_id, permissions_name,permissions_route,module_id)
       VALUES
       (#{permissionsId}, #{permissionsName},#{permissionsRoute},#{moduleId})
    </insert>
    <update id="updatePermission" parameterType="com.creams.temo.model.PermissionsDto">
       UPDATE permissions SET
       permissions_name = #{permissionsName},
       status = #{status},
       permissions_route=${permissionsRoute},
       module_id=#{moduleId}
       WHERE
       permissions_id = #{permissionsId}
    </update>
    <update id="updatePermissionStatus" >
        update permissions set status = #{status} where permissions_id = #{permissions_id}
    </update>

    <select id="queryPermissionsByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select p.* from role_permissions as r left join permissions as p on p.permissions_id=r.permissions_id where r.role_id = #{role_id} and p.status=1
    </select>
    <select id="queryPermissions"  resultMap="BaseResultMap">
      select * from permissions where status=1
    </select>
    <select id="queryPermissonsModule" resultType="com.creams.temo.model.PermissionsModuleDto">
        select * from permissions_module
    </select>
    <select id="queryPermissionsByModuleId" resultType="com.creams.temo.model.PermissionsDto">
        select * from permissions where module_id =#{module_id} and status=1
    </select>
</mapper>