<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creams.temo.mapper.UserRoleMapper">
    <insert id="addUserRole" parameterType="com.creams.temo.model.UserRoleDto">
        insert into user_role (`user_id`,`role_id`) values (#{userId},#{roleId})
    </insert>
    <delete id="removeUserRole" parameterType="com.creams.temo.model.UserRoleDto">
        delete from user_role where user_id=#{userId} and role_id=#{roleId}
    </delete>

    <select id="queryUserRoleByUserId" parameterType="java.lang.String" resultType="com.creams.temo.entity.UserRoleEntity">
        select u.id as id ,u.user_id as userId ,r.role_id as roleId,r.role_name as roleName from user_role  as u left join role as r on u.role_id=r.role_id where u.user_id=#{user_id}
    </select>
</mapper>
